*.class

# Package Files #
*.war
*.ear
.idea

indexes
storage
logs

# project settings
*.project
*.classpath
.settings/
target
.externalToolBuilders
*.iml

# rebel
rebel.xml

*.db
.DS_Store*
.env*
test
data/thumbnails/_signature/*
data/avatars/*

!/src/main/java/com/mtons/mblog/base/storage/
